* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #333;
  color: #ddd;
  font-family: sans-serif;
  padding: 1rem;
  margin: 1rem;

  h1 {
    color: yellowgreen;
  }

  p {
    margin-top: 0.5rem;
  }

  hr {
    margin: 0.5rem 0;
  }

  .fileExists {
    color: green;
    font-size: 1.5rem;
    background-color: aqua;
  }

  .fileIsDeleted {
    color: red;
    background-color: yellow;
    font-weight: bold;
  }

  .book {
    background-color: #222;
    padding: 1rem;
    margin: 1rem 0;
    font-size: 1.05rem;
  }

  .title {
    color: greenyellow;
  }

  .description {
    color: cadetblue;
  }
}
