* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #333;
  color: #ddd;
  font-family: sans-serif;
  padding: 1rem;
  margin: 1rem;

  h1 {
    color: yellowgreen;
  }
}
